.banner {
    background-color: #f5f8fd;
    height: 100vh;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .banner-font{
        font-size: 32px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .banner-font{
        font-size: 40px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .banner-font{
        font-size: 40px;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .banner-font{
        font-size: 60px;
    }
}
.about-us{
    height: 100vh;
}
.card{
    min-width: 100%;
    background-color: #f5f8fd;
}
.icon{
    width:70px;
    height:70px;
    border-radius: 50%;
 }
 .why{
    padding-top:70px;
}
.call{
    background-color:rgb(50, 5, 92);
    height: auto;
    min-width: 100%;
}
.calll{
    padding-top: 100px;
}
.profile{
    height:auto;
    min-width: 100%;
    background-color: #f5f8fd;
  }
  .section{
   
    min-width: 100%;
    background-color: #f5f8fd;
  }
  .footter{
    min-width: 100%;
    background-color: #f5f8fd;
 }
 .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }